.savingacc{
    background-image: linear-gradient(79deg, #f8f3f3,#f7f3f3ea 48%, #f8f4f4); 
    font-size: 30px;
    text-align: center;
    justify-content: center;
    height: 120%;
    border-color: #97144d;
    border-style: groove;
    color: #97144d;
    margin-left: 255px;
    padding: 1%;
    margin-top: 0.4%;
  }
  
.sav{
    justify-content: right;
    padding: 2%;
}