.display-container{
  margin-bottom:50px;
  margin-left: 255px;
  margin-top: 0.4%;
  text-align: center;
}

.div2{
  bottom:10%;
  text-align: center;
  width:70%;
  margin-left: 200px;

}

.small-container{
  margin:50px 0;
  margin-left: -100px;
  margin-top: 0%;
  text-align: center;
}